.dashboard-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .dashboard-info-item {
    width: 32%;
    height: 150px;
    border-radius: 10px;
    .title {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
    }

    .result {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }
  }
  .dashboard-info-item.item-1 {
    background-color: #FAF4B7;
    border: 1px solid #FAF4B7;
  }
  .dashboard-info-item.item-2 {
    background-color: #F6C6EA;
    border: 1px solid #F6C6EA;
  }
  .dashboard-info-item.item-3 {
    background-color: #CDF0EA;
    background-color: #CDF0EA;
  }
}